{% extends "base.html" %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}" />
{% endblock %} {% block content %}
<div class="content-wrap py-70">
  <div class="container isotope">
    <h1 class="h4 mb-0">Formulário do Artigo</h1>
    <div class="text-right mb-60">
      <a href="/painel/" class="btn-primary rounded-sm p-9">Voltar</a>
    </div>
    <form method="POST" action="." enctype="multipart/form-data">
      {% csrf_token %} {{ form.non_field_errors }}
      <div class="row gh-1 gv-2">
        <div
          class="col-12"
          style="transform: translateY(0px); transition-duration: 400ms; opacity: 1"
        >
          {{ form.checkin_date.errors }} {{ form.checkin_date.label }} {{ form.checkin_date }}
        </div>
        <div
          class="col-12"
          style="transform: translateY(0px); transition-duration: 400ms; opacity: 1"
        >
          {{ form.checkout_date.errors }} {{ form.checkout_date.label }} {{ form.checkout_date }}
        </div>
        <div
          class="col-12"
          style="transform: translateY(0px); transition-duration: 400ms; opacity: 1"
        >
          {{ form.hotel.errors }} {{ form.hotel.label }} {{ form.hotel }}
        </div>
        <div
          class="col-12"
          style="transform: translateY(0px); transition-duration: 400ms; opacity: 1"
        >
          {{ form.room_number.errors }} {{ form.room_number.label }} {{ form.room_number }}
        </div>
        <div
          class="col-12"
          style="transform: translateY(0px); transition-duration: 400ms; opacity: 1"
        >
          <button class="btn btn-dark btn-with-ball mt-20" type="submit" name="button">
            enviar!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#{{form.checkin_date.auto_id}},#{{form.checkout_date.auto_id}}").datetimepicker({
      format: "d/m/Y h:m",
    });
  });
</script>
{% endblock %}
